/* Fonts & Typography */
@font-face {
  font-family: "Missguided";
  src: url("https://static.missguided.co.uk/media/upload/FONTS/Missguided/missguided-bold.woff2") format("woff2"), url("https://static.missguided.co.uk/media/upload/FONTS/Missguided/missguided-bold.woff") format("woff"), url("https://static.missguided.co.uk/media/upload/FONTS/Missguided/missguided-bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px; }

html {
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-color: #f8e7e4;
  overflow-x: hidden;
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center; }
  body .user-is-touching {
    background-color: blue; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
em,
li {
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  color: #474747;
  font-weight: 300;
  text-transform: initial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

a {
  cursor: pointer;
  text-decoration: none; }
  a.contains-image {
    height: 100%; }
  a:active, a:focus, a:hover {
    color: #474747;
    text-decoration: none; }

.h1,
h1 {
  font-size: 3em; }

.h2,
h2 {
  font-size: 2.5em; }

.h3,
h3 {
  font-size: 2em; }

.h4,
h4 {
  font-size: 1.5em; }

.h5,
h5 {
  font-size: 1.2em; }

.h6,
h6 {
  font-size: 1em; }

button,
input,
textarea {
  outline: none; }

table {
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  background: #faeeec;
  padding: 5px;
  margin: 0 auto 2em;
  width: auto; }
  table tbody tr td {
    max-width: 200px;
    padding: 10px; }

ul,
ol,
menu,
dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

img {
  max-width: 100%;
  height: auto; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

.alignleft {
  float: left;
  margin: 0 15px 30px 0; }

.aligncenter {
  display: block;
  margin: 0 auto 30px auto; }

.alignright {
  float: right;
  margin: 0 0 30px 15px; }

.border {
  border: 5px #474747 solid; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .box-shadow:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.14);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.14); }

.transition, .button, a.fasc-button, form.searchform input:nth-of-type(2), body.single .entry-content .product {
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); }

.button, a.fasc-button, form.searchform input:nth-of-type(2) {
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  letter-spacing: 0.75px;
  text-transform: lowercase;
  line-height: 1rem;
  margin-bottom: 0;
  color: #474747;
  background: transparent;
  text-align: center;
  padding: 1rem;
  min-width: 90px;
  border: 3px solid #474747;
  margin: 1.5rem 0 0;
  cursor: inherit; }
  .button:hover, a.fasc-button:hover, form.searchform input:hover:nth-of-type(2), .button:active, a.fasc-button:active, form.searchform input:active:nth-of-type(2), .button:focus, a.fasc-button:focus, form.searchform input:focus:nth-of-type(2) {
    color: #fff;
    background: #474747; }

a.fasc-button {
  display: inline-block;
  margin: 0 10px;
  color: #474747 !important;
  background: transparent !important;
  border: 3px solid #474747 !important; }
  a.fasc-button:hover, a.fasc-button:active, a.fasc-button:focus {
    color: #fff !important;
    background: #474747 !important; }

.title-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 960px;
  color: #fff;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  opacity: 0.25;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms; }
  .title-container .subtitle {
    text-transform: uppercase;
    font-size: 7.5em;
    color: #fff;
    margin: 0; }

.totop {
  position: fixed;
  width: 4em;
  height: 3em;
  bottom: 5px;
  right: 1em;
  z-index: 2; }
  .totop a {
    display: none;
    background: #fff;
    border: 1px solid black;
    padding: 12px 8px 5px;
    font-weight: 700; }
    .totop a svg {
      width: 20px;
      height: 20px; }
    .totop a:hover {
      background: #474747;
      fill: white; }

#nav-below {
  opacity: 0; }

#infscr-loading {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  -webkit-transition: all ease 1s;
  transition: all ease 1s; }
  #infscr-loading img {
    display: block;
    width: 150px;
    margin: 0 auto; }

header {
  margin-bottom: 2em; }

.navigation {
  background: white;
  width: 100%; }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto; }
    .navigation ul h5 {
      text-decoration: none;
      border-bottom: 1.5px solid #f8e7e4;
      text-transform: lowercase;
      margin: 1em 0; }

.categories {
  position: relative;
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 1em 0; }

#menu-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #menu-main-menu li {
    margin: 1em 0; }
    #menu-main-menu li a {
      font-size: 1em;
      text-align: center;
      text-transform: lowercase;
      text-decoration: none; }
    #menu-main-menu li.current-menu-item {
      border-bottom: 1.5px solid #474747; }

#hero {
  width: 75%;
  max-width: 600px;
  margin: 0 auto 5%; }
  #hero img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto; }

.grid {
  position: relative;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  width: 103.33%;
  z-index: 2; }
  .grid.are-images-unloaded {
    opacity: 0; }
  .grid .gutter-sizer {
    width: 3.3%; }
  .grid .item {
    width: 30%;
    height: auto;
    margin-bottom: 5%;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .grid .item img {
      width: 100%;
      height: auto; }
  .grid .item-2 {
    width: 60%; }
    .grid .item-2 .title {
      font-size: 200%; }

.title {
  text-transform: lowercase;
  margin: 1rem 0; }

.subtitle {
  margin: 0; }

body.single article header {
  position: relative;
  margin: 0 auto;
  max-width: 720px; }

body.single .entry-content {
  max-width: 720px;
  margin: 0 auto; }
  body.single .entry-content h1,
  body.single .entry-content h2,
  body.single .entry-content h3 {
    margin: 2em 0 0.5em; }
  body.single .entry-content p {
    max-width: 60em;
    margin: 0 auto 1em; }
  body.single .entry-content p > a {
    border-bottom: 1.5px solid #474747;
    cursor: pointer; }
  body.single .entry-content .contains-image {
    border: none; }
  body.single .entry-content ol,
  body.single .entry-content ul {
    margin: 2rem auto;
    width: 70%;
    max-width: 600px; }
    body.single .entry-content ol li,
    body.single .entry-content ul li {
      margin: 0 auto 0.5em;
      text-align: left; }
  body.single .entry-content ol {
    counter-reset: ol-count; }
    body.single .entry-content ol li:before {
      content: counter(ol-count);
      counter-increment: ol-count;
      background: #474747;
      color: #fff;
      border-radius: 13px;
      width: 26px;
      height: 26px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      line-height: 24px; }
  body.single .entry-content ul {
    list-style: circle; }
    body.single .entry-content ul li {
      margin-left: 5%; }
  body.single .entry-content .addtoany_share_save_container {
    margin: 3em 0; }
  body.single .entry-content .column {
    margin-bottom: 70px;
    height: 100%;
    display: inline-block; }
  body.single .entry-content .wp-caption {
    border: none;
    text-align: center;
    background: #f9ebe8;
    padding: 10px 10px 10px 10px;
    margin: 0 0 30px 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    max-width: 90vw;
    margin: 0 auto 1em; }
  body.single .entry-content p.wp-caption-text {
    margin: -30px 0 10px; }
  body.single .entry-content img {
    max-height: 95vh;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto 1rem; }
    body.single .entry-content img.alignleft {
      max-width: 50%;
      margin: 0 2em 0 0; }
    body.single .entry-content img.alignright {
      max-width: 50%;
      margin: 0 0 0 2em; }
  body.single .entry-content .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 63%;
    margin: 3rem auto; }
  body.single .entry-content .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  body.single .entry-content .product {
    width: 230px;
    max-width: 30%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0.5em 0 2em;
    padding: 0.75em; }
    body.single .entry-content .product:hover {
      background: #fdf9f8; }
    body.single .entry-content .product p {
      font-size: 1em;
      display: block;
      margin: 0 auto;
      width: 100%; }
      body.single .entry-content .product p:nth-of-type(2) {
        font-size: 1.2em;
        line-height: 1em;
        width: 90%; }
    body.single .entry-content .product.oos {
      display: none; }
    body.single .entry-content .product.sale span {
      margin: 0 5px;
      color: #ff5f89; }
    body.single .entry-content .product.sale span:nth-child(1) {
      color: #474747;
      text-decoration: line-through; }

body.single footer.footer {
  margin: 0 auto 50px;
  max-width: 960px; }

body.single #related_posts {
  width: 80%;
  max-width: 960px;
  margin: 0 auto; }
  body.single #related_posts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    body.single #related_posts ul li {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 200px;
              flex: 0 1 200px;
      padding: 10px; }
      body.single #related_posts ul li img {
        width: 100%; }
  body.single #related_posts .relatedcontent .title {
    margin: 1em 0; }
  body.single #related_posts .relatedcontent button.button {
    margin: 0; }
  body.single #related_posts .relatedthumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  body.single #related_posts .relatedthumb {
    position: relative;
    width: 100%; }
  body.single #related_posts .relatedthumb:before {
    content: "";
    padding-top: 100%;
    display: block; }

body.single #comments {
  display: none; }

.float--left {
  position: fixed;
  left: -20px;
  top: 75%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 160px;
  background: rgba(251, 251, 251, 0.8);
  padding: 8px 20px;
  border-radius: 0px 3px 3px 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out; }

.float--right {
  position: fixed;
  right: -20px;
  top: 75%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 160px;
  background: rgba(251, 251, 251, 0.8);
  padding: 8px 25px;
  border-radius: 3px 0px 0px 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out; }

body.search .title-container,
body.error404 .title-container {
  opacity: 0.3; }

form.searchform {
  display: block;
  margin: 0 auto;
  width: 50%;
  min-width: 370px;
  max-width: 500px; }
  form.searchform label.screen-reader-text {
    display: none; }
  form.searchform input:nth-of-type(1) {
    float: left;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 14px 20px;
    border: none;
    background: #fff;
    width: 74%; }
  form.searchform input:nth-of-type(2) {
    margin: 0; }

@-webkit-keyframes animBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/*404*/
body.error404 .title-container,
body.search-no-results .title-container {
  top: 70%;
  opacity: 0.25; }

body.error404 header.header,
body.search-no-results header.header {
  margin: 3rem 0; }

body.error404 .entry-content p,
body.error404 .entry-title,
body.search-no-results .entry-content p,
body.search-no-results .entry-title {
  text-align: center; }

.embed-responsive {
  margin-bottom: 3rem; }

ig-embed,
iframe.instagram-media {
  margin: 0 auto 30px !important; }

iframe.giphy-embed {
  position: absolute;
  left: 0%; }

twitterwidget.twitter-tweet {
  margin: 0 auto;
  border: white solid 20px;
  margin-bottom: 2rem !important; }

/*search/archive/tag*/
body.archive .title-container,
body.tag .title-container {
  opacity: 0.3; }

.mejs-time span {
  color: white !important; }

.wp-video {
  margin: 0 auto; }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 768px) {
  .title-container {
    opacity: 0.5;
    mix-blend-mode: soft-light; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .navigation ul h5 {
    font-size: 1em;
    margin: 1.2em 0; }
  .categories {
    padding: 2em; }
  body:not(.single) #hero {
    width: 50%;
    margin: 0 auto 5%; }
  body:not(.single) .grid {
    width: 97%;
    margin: 0 0 0 3%; }
    body:not(.single) .grid .item-2 {
      width: 50%;
      margin-left: 6%; }
      body:not(.single) .grid .item-2 .title {
        font-size: 250%; }
  body.single .entry-content .product {
    max-width: 25%; }
  body.single #related_posts {
    width: 100%; }
  body.single footer.entry-footer {
    width: 60%;
    margin: 0 auto 5%; } }

@media only screen and (max-width: 767px) {
  header {
    margin-bottom: 1em; }
  #menu-main-menu {
    padding: 1em;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    #menu-main-menu li {
      margin: 0 9vw 0 10px;
      display: inline-block;
      vertical-align: middle; }
      #menu-main-menu li:last-of-type {
        width: 150px; }
  .grad {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 65px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(125, 185, 232, 0)), color-stop(38%, rgba(125, 185, 232, 0)), color-stop(10%, rgba(209, 226, 240, 0.01)), to(#fde1de));
    background: linear-gradient(to right, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0) 38%, rgba(209, 226, 240, 0.01) 10%, #fde1de 100%);
    pointer-events: none; }
  body:not(.single) .title {
    font-size: 2em; }
  body:not(.single) .item,
  body:not(.single) .item-2 {
    width: 80%;
    margin-bottom: 10%; }
    body:not(.single) .item .title,
    body:not(.single) .item-2 .title {
      font-size: 1em; }
  body:not(.single) .item-2 .title {
    font-size: 2em; } }

@media all and (max-width: 767px) and (min-width: 481px) {
  body:not(.single) .title {
    font-size: 2em; }
  body:not(.single) #hero {
    width: 95%;
    margin: 0 auto 5%; }
  body:not(.single) .grid {
    width: 100%;
    margin-left: 5%; }
    body:not(.single) .grid .gutter-sizer {
      width: 5%; }
    body:not(.single) .grid .item {
      width: 45%;
      margin-bottom: 10%; } }

@media all and (max-width: 480px) {
  .navigation ul h5 {
    font-size: 1em;
    margin: 1.2em 0; }
  body.single .entry-content p {
    margin: 1em; }
  body.single .entry-content .addtoany_share_save_container {
    margin: 2em 0; }
  body.single .entry-content .addtoany_list.a2a_kit_size_32 a > span {
    height: 26px;
    line-height: 26px;
    width: 26px; }
  body.single .entry-content .product {
    width: 230px;
    max-width: 30%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 2em 0 1em;
    padding: 0.5em; }
    body.single .entry-content .product p {
      font-size: 1em; }
      body.single .entry-content .product p:nth-of-type(2) {
        font-size: 1.15em;
        margin-top: 0.75em; }
  body.single .entry-content .wp-caption {
    max-width: 85vw; }
  body.single article header .title {
    font-size: 2em; }
  body.single #related_posts {
    width: 100%; }
    body.single #related_posts ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body.single #related_posts ul li {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 250px;
                flex: 1 1 250px;
        padding: 0 30px; }
  body.single footer.entry-footer {
    width: 90%;
    margin: 0 auto 15%; }
  body:not(.single) .title-container {
    width: 95vw; }
    body:not(.single) .title-container .subtitle {
      font-size: 7vw;
      color: #fff;
      margin: 0; }
  body:not(.single) .title {
    font-size: 2.25em; }
  body:not(.single) #hero {
    width: 90%;
    margin: 0 5% 15%; }
  body:not(.single) .grid {
    width: 100%;
    margin-left: 10%; }
    body:not(.single) .grid .gutter-sizer {
      width: 10%; }
    body:not(.single) .grid .item,
    body:not(.single) .grid .item-2 {
      width: 80%;
      margin-bottom: 10%; }
      body:not(.single) .grid .item .title,
      body:not(.single) .grid .item-2 .title {
        font-size: 1.5em; }
    body:not(.single) .grid .item-2 .title {
      font-size: 2em; } }

@media only screen and (max-device-width: 375px) and (min-device-width: 10px) {
  #menu-main-menu {
    padding: 10px; } }

/*------------------------------------------*/
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
/* Retina */
/* iPhone Portrait */
/* iPhone Landscape */
/* iPad Portrait */
/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
  .title-container {
    top: 60%; } }

/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
