/* Fonts & Typography */
@font-face {
  font-family: "Missguided";
  src: url("https://static.missguided.co.uk/media/upload/FONTS/Missguided/missguided-bold.woff2") format("woff2"), url("https://static.missguided.co.uk/media/upload/FONTS/Missguided/missguided-bold.woff") format("woff"), url("https://static.missguided.co.uk/media/upload/FONTS/Missguided/missguided-bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-color: #f8e7e4;
  overflow-x: hidden;
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center; }
  body .user-is-touching {
    background-color: blue; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
em,
li {
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  color: #474747;
  font-weight: 300;
  text-transform: initial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

a {
  cursor: pointer;
  text-decoration: none; }
  a.contains-image {
    height: 100%; }
  a:active, a:focus, a:hover {
    color: #474747;
    text-decoration: none; }

strong {
  font-weight: 500; }

.h1,
h1 {
  font-size: 3em; }

.h2,
h2 {
  font-size: 2.5em; }

.h3,
h3 {
  font-size: 2em; }

.h4,
h4 {
  font-size: 1.5em; }

.h5,
h5 {
  font-size: 1.2em; }

.h6,
h6 {
  font-size: 1em; }

button,
input,
textarea {
  outline: none; }

table {
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  background: #faeeec;
  padding: 5px;
  margin: 0 auto 2em;
  width: auto; }
  table tbody tr td {
    max-width: 200px;
    padding: 10px; }

ul,
ol,
menu,
dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

img {
  max-width: 100%;
  height: auto; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

.alignleft {
  float: left;
  margin: 0 15px 30px 0; }

.aligncenter {
  display: block;
  margin: 0 auto 30px auto; }

.alignright {
  float: right;
  margin: 0 0 30px 15px; }

.border {
  border: 5px #474747 solid; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .box-shadow:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.14);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.14); }

.transition, .button, a.fasc-button, body.single .entry-content .product {
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); }

.button, a.fasc-button {
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  letter-spacing: 0.75px;
  text-transform: lowercase;
  line-height: 1rem;
  margin-bottom: 0;
  color: #474747;
  background: transparent;
  text-align: center;
  padding: 1rem;
  min-width: 90px;
  border: 3px solid #474747;
  margin: 1.5rem 0 0;
  cursor: inherit; }
  .button:hover, a.fasc-button:hover, .button:active, a.fasc-button:active, .button:focus, a.fasc-button:focus {
    color: #fff;
    background: #474747; }

a.fasc-button {
  display: inline-block;
  margin: 0 10px;
  color: #474747 !important;
  background: transparent !important;
  border: 3px solid #474747 !important; }
  a.fasc-button:hover, a.fasc-button:active, a.fasc-button:focus {
    color: #fff !important;
    background: #474747 !important; }

.title-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 960px;
  color: #fff;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  opacity: 0.25;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms; }
  .title-container .subtitle {
    text-transform: uppercase;
    font-size: 7.5em;
    color: #fff;
    margin: 0; }

.totop {
  position: fixed;
  width: 4em;
  height: 4em;
  bottom: 10px;
  right: 1em;
  z-index: 2; }
  .totop a {
    display: none;
    background: #fff;
    padding: 15px 11px 8px;
    border-radius: 20px;
    font-weight: 700;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 11px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 0 11px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .totop a svg {
      width: 20px;
      height: 20px; }
    .totop a:hover {
      background: #474747;
      fill: white; }

#nav-below {
  opacity: 0; }

#infscr-loading {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Missguided", "Lucida Console", Monaco, monospace;
  -webkit-transition: all ease 1s;
  transition: all ease 1s; }
  #infscr-loading img {
    display: block;
    width: 150px;
    margin: 0 auto; }

body.archive header.header {
  margin-bottom: 3rem; }

@media (min-width: 768px) {
  header#header {
    margin-bottom: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%; }
  .menu-search {
    opacity: 0;
    -webkit-animation: fade-in-right ease 0.4s forwards;
            animation: fade-in-right ease 0.4s forwards;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s; }
  .search {
    width: 100%; }
  .menu-home {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
            animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards; }
  .categories li {
    opacity: 0;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
            animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .menu-home,
  .categories,
  .menu-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80px; }
  .cat {
    height: 50px; }
    .cat h5 {
      margin: 0 2em;
      text-align: left; }
  .menu-home {
    -webkit-box-flex: 100px;
        -ms-flex: 100px 0 1;
            flex: 100px 0 1; }
    .menu-home .mobile-btn {
      display: none; }
    .menu-home h5 {
      text-decoration: none;
      text-transform: lowercase; }
  #menu-main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    #menu-main-menu li {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      #menu-main-menu li a {
        text-align: center;
        text-transform: lowercase;
        text-decoration: none; }
      #menu-main-menu li.current-menu-item {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        border-bottom: 1.5px solid #474747; }
  .mobile-search {
    display: none; }
  .menu-search {
    -webkit-box-flex: 250px;
        -ms-flex: 250px 0 0px;
            flex: 250px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms; }
    .menu-search input.search-field {
      font-size: 0.8em;
      text-transform: lowercase;
      opacity: 0;
      -webkit-transition: opacity 300ms ease-out 2s;
      transition: opacity 300ms ease-out 2s; }
    .menu-search form.search-form {
      position: relative;
      width: 100%;
      min-width: 100px;
      max-width: 250px; }
      .menu-search form.search-form .search-form label {
        -webkit-box-flex: 1;
            -ms-flex: auto 1 0px;
                flex: auto 1 0; }
      .menu-search form.search-form input.search-field {
        float: none;
        padding: 15px 35px 15px 15px;
        font-size: 1em; }
      .menu-search form.search-form button.search-submit {
        background: none;
        border: none;
        position: absolute;
        right: 10%;
        top: 50%;
        height: 100%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%); }
        .menu-search form.search-form button.search-submit svg.search-icon {
          width: 18px;
          height: 18px; }
    .menu-search:hover form.search-form input.search-field {
      opacity: 1;
      -webkit-transition: opacity 300ms ease-out 0s;
      transition: opacity 300ms ease-out 0s; }
  .cat {
    width: 100%; }
  .in-down {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; } }

@media (max-width: 767px) {
  header#header {
    margin-bottom: 1em;
    display: block; }
  /* Animate menu icon (lines). */
  .svg-menu-toggle .line {
    opacity: 1;
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    -webkit-transform-origin: 1em 1em;
            transform-origin: 1em 1em;
    -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: opacity 150ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, opacity 150ms ease-in-out;
    transition: transform 200ms ease-in-out, opacity 150ms ease-in-out, -webkit-transform 200ms ease-in-out; }
  .svg-menu-toggle .line-1 {
    -webkit-transform-origin: 25px;
            transform-origin: 25px; }
  .svg-menu-toggle .line-3 {
    -webkit-transform-origin: 25px;
            transform-origin: 25px; }
  .menu-home a {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
            animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards; }
  .menu-home .mobile-btn {
    opacity: 0;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation: fade-in-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
            animation: fade-in-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .menu-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1.5em; }
    .menu-home.open {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200;
      width: calc(100% - 3em); }
    .menu-home a {
      z-index: 100; }
    .menu-home .mobile-btn {
      width: 20px;
      display: block;
      z-index: 100; }
      .menu-home .mobile-btn.active .svg-menu-toggle .line-1 {
        -webkit-transform: rotate(45deg) translate3d(5px, 5px, 0);
                transform: rotate(45deg) translate3d(5px, 5px, 0); }
      .menu-home .mobile-btn.active .svg-menu-toggle .line-2 {
        opacity: 0; }
      .menu-home .mobile-btn.active .svg-menu-toggle .line-3 {
        -webkit-transform: rotate(-45deg) translate3d(5px, -5px, 0);
                transform: rotate(-45deg) translate3d(5px, -5px, 0); }
    .menu-home.active {
      position: fixed;
      z-index: 100;
      top: 0;
      width: 95%; }
  .categories {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: opacity ease 300ms;
    transition: opacity ease 300ms; }
    .categories .menu {
      opacity: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 60%;
      margin-top: 1em; }
      .categories .menu li {
        font-size: 5vw;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
        .categories .menu li.current-menu-item {
          -webkit-box-ordinal-group: 1;
              -ms-flex-order: 0;
                  order: 0;
          border-bottom: 0.6vw solid #474747; }
        .categories .menu li a {
          text-transform: lowercase; }
    .categories.open {
      opacity: 1;
      z-index: 10; }
      .categories.open .menu {
        opacity: 1; }
    .categories .mobile-search {
      -webkit-box-flex: 1;
          -ms-flex: auto 0 0px;
              flex: auto 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: all ease 300ms;
      transition: all ease 300ms; }
      .categories .mobile-search input.search-field {
        font-size: 0.8em;
        background-color: white;
        -webkit-transition: background-color ease 300ms;
        transition: background-color ease 300ms; }
        .categories .mobile-search input.search-field:hover, .categories .mobile-search input.search-field:focus {
          background-color: white; }
      .categories .mobile-search form.search-form {
        position: relative;
        width: 100%;
        min-width: 100px; }
        .categories .mobile-search form.search-form .search-form label {
          -webkit-box-flex: 1;
              -ms-flex: auto 1 0px;
                  flex: auto 1 0; }
        .categories .mobile-search form.search-form input.search-field {
          float: none;
          padding: 5% 13% 5% 3%;
          font-size: 1em; } }

#hero {
  width: 75%;
  max-width: 600px;
  margin: 0 auto 5%; }
  #hero img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto; }

.grid {
  position: relative;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  width: 103.33%;
  z-index: 2; }
  .grid.are-images-unloaded {
    opacity: 0; }
  .grid .gutter-sizer {
    width: 3.3%; }
  .grid .item {
    width: 30%;
    height: auto;
    margin-bottom: 5%;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .grid .item img {
      width: 100%;
      height: auto; }
  .grid .item-2 {
    width: 60%; }
    .grid .item-2 .title {
      font-size: 200%; }

.title {
  text-transform: lowercase;
  margin: 1rem 0; }

.subtitle {
  margin: 0; }

body.single article header {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 720px; }

body.single .entry-content {
  max-width: 720px;
  margin: 0 auto; }
  body.single .entry-content h1,
  body.single .entry-content h2,
  body.single .entry-content h3 {
    margin: 2em 0 0.5em; }
  body.single .entry-content p {
    max-width: 60em;
    margin: 0 auto 1em; }
  body.single .entry-content p > a {
    border-bottom: 1.5px solid #474747;
    cursor: pointer; }
  body.single .entry-content .contains-image {
    border: none; }
  body.single .entry-content ol,
  body.single .entry-content ul {
    margin: 2rem auto;
    width: 70%;
    max-width: 600px; }
    body.single .entry-content ol li,
    body.single .entry-content ul li {
      margin: 0 auto 0.5em;
      text-align: left; }
  body.single .entry-content ol {
    counter-reset: ol-count; }
    body.single .entry-content ol li:before {
      content: counter(ol-count);
      counter-increment: ol-count;
      background: #474747;
      color: #fff;
      border-radius: 13px;
      width: 26px;
      height: 26px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      line-height: 24px; }
  body.single .entry-content ul {
    list-style: circle; }
    body.single .entry-content ul li {
      margin-left: 5%; }
  body.single .entry-content .addtoany_share_save_container {
    margin: 3em 0; }
  body.single .entry-content .column {
    margin-bottom: 70px;
    height: 100%;
    display: inline-block; }
  body.single .entry-content .wp-caption {
    border: none;
    text-align: center;
    background: white;
    padding: 20px 15px 15px;
    margin: 0 0 30px 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    max-width: 90vw;
    margin: 0 auto 1em; }
  body.single .entry-content p.wp-caption-text {
    margin: 0px 0 10px; }
  body.single .entry-content img:not(.alignnone):not(.size-full) {
    max-height: 95vh;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto 1rem; }
    body.single .entry-content img:not(.alignnone):not(.size-full).alignleft.size-medium, body.single .entry-content img:not(.alignnone):not(.size-full).alignright.size-medium {
      max-width: 50%; }
  body.single .entry-content img.alignnone {
    width: 100%;
    max-width: 100%; }
  body.single .entry-content .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 63%;
    margin: 3rem auto; }
  body.single .entry-content .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  body.single .entry-content .product {
    width: 230px;
    max-width: 30%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0.5em 0 2em;
    padding: 0.75em; }
    body.single .entry-content .product:hover {
      background: #fdf9f8; }
    body.single .entry-content .product h5 {
      font-size: 1em;
      display: block;
      margin: 0 auto;
      width: 100%; }
    body.single .entry-content .product h4 {
      font-size: 1.2em;
      display: block;
      margin: 0 auto;
      line-height: 1em;
      margin: 1em auto 0;
      width: 90%; }
    body.single .entry-content .product.oos {
      display: none; }
    body.single .entry-content .product.sale span {
      margin: 0 5px;
      color: #ff5f89; }
    body.single .entry-content .product.sale span:nth-child(1) {
      color: #474747;
      text-decoration: line-through; }

body.single footer.footer {
  margin: 0 auto 50px;
  max-width: 960px; }

body.single .tag-links {
  max-width: 960px;
  min-width: 75%;
  width: 100%;
  margin: 0 auto; }
  body.single .tag-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    body.single .tag-links ul li:not(:nth-of-type(1)) {
      list-style-type: none;
      margin-left: 10px; }

body.single #related_posts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }
  body.single #related_posts ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
    padding: 10px;
    margin-bottom: 1em; }

body.single #comments {
  display: none; }

.float--left {
  position: fixed;
  left: -20px;
  top: 75%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 160px;
  background: rgba(251, 251, 251, 0.8);
  padding: 8px 20px;
  border-radius: 0px 3px 3px 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out; }

.float--right {
  position: fixed;
  right: -20px;
  top: 75%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 160px;
  background: rgba(251, 251, 251, 0.8);
  padding: 8px 25px;
  border-radius: 3px 0px 0px 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out; }

@media (max-width: 740px) {
  body.single .entry-content img.alignleft:not(.size-full):not(.size-large),
  body.single .entry-content img.alignright:not(.size-full):not(.size-large) {
    max-width: 50% !important; } }

body.search .title-container,
body.error404 .title-container {
  opacity: 0.3; }

form.search-form {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50%;
  min-width: 370px;
  max-width: 500px; }
  form.search-form span.screen-reader-text {
    display: none; }
  form.search-form label {
    -webkit-box-flex: 1;
        -ms-flex: auto 1 0px;
            flex: auto 1 0; }
  form.search-form input.search-field {
    font-size: 1rem;
    letter-spacing: 1px;
    border-bottom: 3px solid #474747;
    padding: 5% 13% 5% 3%;
    border: none;
    background-color: #fff;
    width: 82%;
    text-transform: lowercase;
    -webkit-transition: opacity 300ms ease-out 2s;
    transition: opacity 300ms ease-out 2s; }
  form.search-form input:-webkit-autofill {
    background-color: red !important; }
  form.search-form .search-submit {
    background: none;
    border: none;
    position: absolute;
    right: 10%;
    top: 50%;
    height: 100%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    form.search-form .search-submit svg.search-icon {
      width: 18px;
      height: 18px; }
  form.search-form:hover form.search-form input.search-field {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out 0s;
    transition: opacity 300ms ease-out 0s; }

input[type="search"] {
  -webkit-appearance: textfield; }

/*404*/
body.error404 .title-container,
body.search-no-results .title-container {
  top: 70%;
  opacity: 0.25; }

body.error404 .entry-content p,
body.error404 .entry-title,
body.search-no-results .entry-content p,
body.search-no-results .entry-title {
  text-align: center; }

body.error404 ul.recent,
body.search-no-results ul.recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(60% - 4em);
  max-width: 400px;
  margin: 0 auto;
  padding: 2em; }
  body.error404 ul.recent li,
  body.search-no-results ul.recent li {
    list-style: circle;
    text-align: left; }

@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes fade-in-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fade-in-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes grow-left {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes grow-left {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translatey(0);
            transform: translatey(0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translatey(0);
            transform: translatey(0); } }

.embed-responsive {
  margin-bottom: 3rem; }

ig-embed,
iframe.instagram-media {
  margin: 0 auto 30px !important; }

iframe.giphy-embed {
  position: absolute;
  left: 0%; }

twitterwidget.twitter-tweet {
  margin: 0 auto;
  border: white solid 20px;
  margin-bottom: 2rem !important; }

/*search/archive/tag*/
body.archive .title-container,
body.tag .title-container {
  opacity: 0.3; }

.mejs-time span {
  color: white !important; }

.wp-video {
  margin: 0 auto; }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1200px) {
  .title-container {
    max-width: 1200px; } }

@media all and (min-width: 768px) {
  .title-container {
    opacity: 0.5;
    mix-blend-mode: soft-light; }
  a.back-home {
    display: none; }
  .categories {
    -webkit-box-flex: 538px;
        -ms-flex: 538px 0 1;
            flex: 538px 0 1;
    margin: 0 1em;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms; }
  #related_posts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    #related_posts ul li {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 200px;
              flex: 0 1 200px;
      padding: 10px; }
      #related_posts ul li img {
        width: 100%; }
  #related_posts .relatedcontent .title {
    margin: 1rem; }
  #related_posts .relatedcontent button.button {
    margin: 0; }
  #related_posts .relatedthumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top center;
       object-position: top center; }
  #related_posts .relatedthumb {
    position: relative;
    width: 100%; }
  #related_posts .relatedthumb:before {
    content: "";
    padding-top: 100%;
    display: block; } }

@media (max-width: 1000px) {
  form.searchform input:nth-of-type(1) {
    width: 64%; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .navigation ul h5 {
    font-size: 1em;
    margin: 1.2em 0; }
  header#header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 96%;
    margin: 1em auto 2em; }
  .menu-home {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .menu-search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 1em;
    display: block; }
  .categories {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1024px;
        -ms-flex: 1024px 0 1;
            flex: 1024px 0 1;
    margin-right: 1.5em; }
  .menu-home,
  .categories,
  .menu-search {
    height: 50px; }
  body:not(.single) #hero {
    width: 50%;
    margin: 0 auto 5%; }
  body:not(.single) .grid {
    width: 97%;
    margin: 0 0 0 3%; }
    body:not(.single) .grid .item-2 {
      width: 50%;
      margin-left: 6%; }
      body:not(.single) .grid .item-2 .title {
        font-size: 250%; }
  body.single .entry-content img {
    max-height: 75vh; }
  body.single .entry-content p {
    max-width: 45em; }
  body.single .entry-content .product {
    max-width: 25%; }
  body.single #related_posts {
    width: 100%; }
  body.single footer.entry-footer {
    width: 60%;
    margin: 0 auto 5%; } }

@media (max-width: 960px) {
  form.search-form input.search-field {
    width: 85%; } }

@media only screen and (max-width: 767px) {
  body.push {
    margin-top: 83px; }
  body .categories {
    background-image: linear-gradient(-20deg, #a8edea 0%, #fed6e3 100%); }
  body.single .categories {
    background-image: linear-gradient(-60deg, #fbc2eb 0%, #e6dee9 100%); }
  body.search .categories {
    background-image: linear-gradient(-120deg, #febfa1 0%, #f3adbb 100%); }
  body.category .categories {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#feada6), to(#f5efef));
    background-image: linear-gradient(to bottom, #feada6 0%, #f5efef 100%); }
  body.category.category-babes-2 .categories {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#cd9cf2), to(#f6f3ff));
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); }
  body.category.category-culture .categories {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ebbba7), to(#cfc7f8));
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); }
  body.category.category-fashion .categories {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ebbba7), to(#cfc7f8));
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); }
  body.category.category-beauty .categories {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ebc0fd), to(#d9ded8));
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%); }
  body.category.category-discovered .categories {
    background-image: linear-gradient(100deg, #74ebd5 0%, #9face6 100%); }
  .categories {
    padding-top: 20%; }
    .categories a.back-home {
      position: absolute;
      top: 75%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: 4vw;
      width: 100%; }
  body:not(.single) .title {
    font-size: 2em; }
  body:not(.single) .item,
  body:not(.single) .item-2 {
    width: 80%;
    margin-bottom: 10%; }
    body:not(.single) .item .title,
    body:not(.single) .item-2 .title {
      font-size: 1.25em; }
  body:not(.single) .item-2 .title {
    font-size: 2em; }
  body.single .entry-content img {
    max-height: 85vh; }
  body.single .entry-content h3 {
    font-size: 1.75em; }
  body.single .entry-content p {
    display: block;
    max-width: 95%;
    margin: 0 auto 2em; }
  .menu-search {
    display: none; } }

@media all and (max-width: 767px) and (min-width: 481px) {
  body.single .entry-content p {
    max-width: 90%;
    margin: 0 auto 1em; }
  body:not(.single) .title {
    font-size: 2em; }
  body:not(.single) #hero {
    width: 80%;
    margin: 0 10% 10%; }
  body:not(.single) .grid {
    width: 100%;
    margin-left: 3%; }
    body:not(.single) .grid .gutter-sizer {
      width: 5%; }
    body:not(.single) .grid .item {
      width: 46%;
      margin-bottom: 5%; } }

@media all and (max-width: 480px) {
  body.single .entry-content .addtoany_share_save_container {
    margin: 2em 0; }
  body.single .entry-content .addtoany_list.a2a_kit_size_32 a > span {
    height: 26px;
    line-height: 26px;
    width: 26px; }
  body.single .entry-content .product {
    width: 230px;
    max-width: 30%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 1em 0;
    padding: 0.5em; }
    body.single .entry-content .product h5 {
      font-size: 0.85em;
      line-height: 1.5em; }
    body.single .entry-content .product h4 {
      font-size: 1.15em;
      margin-top: 0.5em;
      line-height: 1.75em; }
  body.single .entry-content .wp-caption {
    max-width: 85vw; }
  body.single article header .title {
    font-size: 2em; }
  body.single footer.entry-footer {
    width: 90%;
    margin: 0 auto 15%; }
  body:not(.single) .title-container {
    width: 95vw; }
    body:not(.single) .title-container .subtitle {
      font-size: 7vw;
      color: #fff;
      margin: 0; }
  body:not(.single) .title {
    font-size: 2.25em; }
  body:not(.single) #hero {
    width: 90%;
    margin: 0 5% 15%; }
  body:not(.single) .grid {
    width: 100%;
    margin-left: 10%; }
    body:not(.single) .grid .gutter-sizer {
      width: 10%; }
    body:not(.single) .grid .item,
    body:not(.single) .grid .item-2 {
      width: 80%;
      margin-bottom: 10%; }
      body:not(.single) .grid .item .title,
      body:not(.single) .grid .item-2 .title {
        font-size: 1.5em; }
    body:not(.single) .grid .item-2 .title {
      font-size: 2em; }
  form.searchform {
    min-width: 300px; }
  form.searchform input:nth-of-type(1) {
    width: 56%; } }

@media only screen and (max-device-width: 375px) and (min-device-width: 10px) {
  #menu-main-menu {
    padding: 10px; } }

/*------------------------------------------*/
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
/* Retina */
/* iPhone Portrait */
/* iPhone Landscape */
/* iPad Portrait */
/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
  .title-container {
    top: 60%; } }

/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
