/*404*/
body.error404,
body.search-no-results {
  .title-container {
    top: 70%;
    opacity: 0.25;
  }
  .entry-content p,
  .entry-title {
    text-align: center;
  }

  ul.recent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(60% - 4em);
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    li {
      list-style: circle;
      text-align: left;
    }
  }
}
