html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: $background-colour;
  overflow-x: hidden;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-align: center;
  .user-is-touching {
    background-color: blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
em,
li {
  font-family: $font-family;
  color: $font-colour;
  font-weight: 300;
  text-transform: initial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

a {
  cursor: pointer;
  text-decoration: none;
  &.contains-image {
    height: 100%;
  }
  &:active,
  &:focus,
  &:hover {
    color: $font-colour;
    text-decoration: none;
  }
}

strong {
  font-weight: 500;
}

.h1,
h1 {
  font-size: 3em;
}

.h2,
h2 {
  font-size: 2.5em;
}

.h3,
h3 {
  font-size: 2em;
}

.h4,
h4 {
  font-size: 1.5em;
}

.h5,
h5 {
  font-size: 1.2em;
}

.h6,
h6 {
  font-size: 1em;
}

button,
input,
textarea {
  outline: none;
}

table {
  font-family: $font-family;
  background: lighten($background-colour, 2);
  padding: 5px;
  margin: 0 auto 2em;
  width: auto;
  tbody {
    tr {
      td {
        max-width: 200px;
        padding: 10px;
      }
    }
  }
}

ul,
ol,
menu,
dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

//recommened content width https://codex.wordpress.org/Content_Width
img {
  max-width: 100%;
  height: auto;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.alignleft {
  float: left;
  margin: 0 15px 30px 0;
}

.aligncenter {
  display: block;
  margin: 0 auto 30px auto;
}

.alignright {
  float: right;
  margin: 0 0 30px 15px;
}

//extends
.border {
  border: 5px $font-colour solid;
}

.flex {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.14);
  }
}

.transition {
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.button {
  font-family: $font-family;
  font-size: 1em;
  letter-spacing: 0.75px;
  text-transform: lowercase;
  line-height: 1em;
  margin-bottom: 0;
  color: $font-colour;
  background: transparent;
  text-align: center;
  padding: 1em;
  min-width: 120px;
  border: 2px solid $font-colour;
  margin: 1em 0 0;
  cursor: inherit;
  @extend .transition;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
    background: $font-colour;
  }
}

a.fasc-button {
  @extend .button;

  display: inline-block;
  margin: 0 10px;

  color: $font-colour !important;
  background: transparent !important;
  border: 2px solid $font-colour !important;
  &:hover,
  &:active,
  &:focus {
    color: #fff !important;
    background: $font-colour !important;
  }
}

.title-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 960px;
  color: #fff;
  text-align: center;
  z-index: 1;
  pointer-events: none; // causing the issue on samsung chrome and native
  opacity: 0.25;
  transition: all ease-out 300ms;
  .subtitle {
    text-transform: uppercase;
    font-size: 7.5em;
    color: #fff;
    margin: 0;
  }
}

#infscr-loading {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: $font-family;
  transition: all ease 1s;
  img {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}
