.embed-responsive {
  margin-bottom: 3em;
}
ig-embed,
iframe.instagram-media {
  margin: 0 auto 30px !important;
}
iframe.giphy-embed {
  position: absolute;
  left: 0%;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
twitterwidget.twitter-tweet {
  margin: 0 auto;
  border: white solid 20px;
  margin-bottom: 2em !important;
}

/*search/archive/tag*/
body.archive,
body.tag {
  .title-container {
    opacity: 0.3;
  }
}

.mejs-time span {
  color: white !important;
}

.wp-video {
  margin: 0 auto;
}
