#hero {
  width: 40%;
  max-width: 600px;
  margin: 0 auto 5%;
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  h1.title {
    font-size: 2.5em;
  }
}

.grid {
  position: relative;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  //extra width to counteract the right side gutter
  width: 103.33%;
  z-index: 2;
  &.are-images-unloaded {
    opacity: 0;
  }
  .gutter-sizer {
    width: 3.3%;
  }
  .item {
    width: 30%;
    height: auto;
    margin-bottom: 5%;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    img {
      width: 100%;
      height: auto;
    }
  }
  .item-2 {
    width: 60%; // margin: 0 3% 5%;
    .title {
      font-size: 200%;
    }
  }
}

.grid,
.grid .item {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.grid {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.grid .item {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

.title {
  text-transform: lowercase;
  margin: 1em 0;
}
.subtitle {
  margin: 0 0 1em;
}
