
body.home, body.category, body.search, body.archive {
  #container{
    position: relative;
    max-width: 960px;
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
  .title {
    font-size: 1.8em;
    text-transform: lowercase;
    word-wrap: break-word;
    font-weight: normal;
  }
  .subtitle {
    font-size: 1.16em;
    text-transform: lowercase;
    text-transform: none;
    width: 80%;
    margin: 0 auto;
  }

#hero {
    padding: 0 25%;
    margin-bottom: 3em;
    text-align: center;
        img {
          display:block;
          margin: 0 auto;
          width: 100%;
          height: auto;
    }
  }

#grid {
  width: 95%;
  margin: 0 auto;
  z-index: 2;
    .item {
      width:30%;
      height: auto;
      margin: 1.5%;
      text-align: center;
      margin-bottom: 5%;
      border: none;
      padding: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
        img {
          width: 100%;
          height: auto;
        }
      }
    .item-2 {
    width: 63%;
      .title {
          font-size: 2.5em;
      }
    }
  }
  .title-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 960px;
    color: #fff;
    text-align: center;
    z-index: 1;
    pointer-events: none;
    // causing the issue on samsung chrome and native
    // mix-blend-mode: soft-light;
    opacity: 0.3;
    @extend .transition;
  .subtitle {
    text-transform: uppercase;
    font-size: 7.5em;
    color: #fff;
  }
}
}
}
body.home {
  .title-container {
    opacity: 0.3;
  }
}
