body:not(.single) {
  #content {
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #hero {
    margin: 0 25% 3em;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;
    }
  }
  #grid {
    width: 95%;
    margin: 0 auto;
    z-index: 2;
    .item {
      width: 30%;
      height: auto;
      margin: 0 1.5% 5%;
      border: none;
      padding: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
      img {
        width: 100%;
        height: auto;
      }
    }
    .item-2 {
      width: 60%;
      margin: 0 3% 5%;
      .title {
        font-size: 300%;
      }
    }
    .title {
      text-transform: lowercase;
      margin-bottom: .5em;
    }
    .subtitle{
      margin: 0;
    }
  }
  .title-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 960px;
    color: #fff;
    text-align: center;
    z-index: 1;
    pointer-events: none; // causing the issue on samsung chrome and native
    mix-blend-mode: soft-light; // opacity: 0.8;
    @extend .transition;
    .subtitle {
      text-transform: uppercase;
      font-size: 7.5em;
      color: #fff;
      margin: 0;
    }
  }
}

body.home {
  .title-container {
    // opacity: 0.3;
  }
}