/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) {
body:not(.single) {
  .title-container {
    opacity: 1;
    mix-blend-mode: soft-light;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

.navigation ul h5 {
  font-size: 1em;
  margin: 1.2em 0;
}
.categories {
  max-width: 800px;
}

body:not(.single) {
    #hero {
      width: 46%;
      margin: 0 auto 5%;
    }
    #grid {
      width: 97%;
      margin: 0 0 0 3%;
      .item-2 {
        width: 50%;
        margin-left: 6%;
      .title {
        font-size: 250%;
      }
    }
  }
    
  }
  body.single {
      #related_posts {
        width: 100%;
      }
    footer.entry-footer {
      width: 60%;
      margin: 0 auto 5%;
    }
  }

}

@media all and (max-width: 767px) {

  body:not(.single) {
    .title-container {
      position: fixed;

    }
  }

}

@media all and (max-width: 480px) {

body.single {
  #related_posts {
    width: 100%;
  }
  footer.entry-footer {
    width: 90%;
    margin: 0 auto 15%;
  }
}


body:not(.single) {
  .title-container {
    width: 90vw;
    .subtitle {
      font-size: 7vw;
      color: #fff;
      margin: 0;
    }
  }
  #hero {
    margin: 0 5% 5%;
  }

  #grid {
    width: 100%;
    margin-left: 5%;
    .gutter-sizer {
      width: 5%;
    }
   .item {
     width: 42.5%;
     margin-bottom: 10%;
   }
   .item-2 {
     width: 80%;
     margin-left: 5%;
   }
  }
}



    .navigation ul h5 {
      font-size: 1em;
      margin: 1.2em 0;
    }
}


/*------------------------------------------*/


/* Portrait */

@media screen and (orientation:portrait) {
  /* Portrait styles here */
}


/* Landscape */

@media screen and (orientation:landscape) {
  /* Landscape styles here */

}


/* CSS for iPhone, iPad, and Retina Displays */


/* Non-Retina */

@media screen and (-webkit-max-device-pixel-ratio: 1) {}


/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}


/* iPhone Portrait */

@media screen and (max-device-width: 480px) and (orientation:portrait) {



}


/* iPhone Landscape */

@media screen and (max-device-width: 480px) and (orientation:landscape) {}


/* iPad Portrait */

@media screen and (min-device-width: 481px) and (orientation:portrait) {}


/* iPad Landscape */

@media screen and (min-device-width: 481px) and (orientation:landscape) {}


/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/