@media (min-width: 768px) {
  header#header {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
  }

  // initial states
  .menu-search {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    animation-delay: 0.8s;
  }
  .search {
    width: 100%;
  }
  .menu-home {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  }

  .categories li {
    opacity: 0;
    transform-origin: left;
    animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s
      forwards;
    animation-delay: 0.4s;
  }

  .menu-home,
  .categories,
  .menu-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80px;
  }
  .cat {
    height: 50px;
    h5 {
      margin: 0 2em;
      text-align: left;
    }
  }

  // top navbar conatiner
  .menu-home {
    flex: 100px 0 1;
    .mobile-btn {
      display: none;
    }
    h5 {
      text-decoration: none;
      text-transform: lowercase;
    }
  }

  .categories {
    flex: 768px 0 1;
    margin: 0 1em;
    transition: all ease 300ms;
  }

  #menu-main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    li {
      order: 1;

      a {
        text-align: center;
        text-transform: lowercase;
        text-decoration: none;
      }
      &.current-menu-item {
        order: 0;
        border-bottom: 1.5px solid $font-colour;
      }
    }
  }
  .mobile-search {
    display: none;
  }
  .menu-search {
    flex: 250px 0 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all ease 300ms;

    input.search-field {
      font-size: 0.8em;
      text-transform: lowercase;

      opacity: 0;
      transition: opacity 300ms ease-out 2s;
    }
    form.search-form {
      position: relative;
      width: 100%;
      min-width: 100px;
      max-width: 250px;

      .search-form label {
        flex: auto 1 0;
      }
      input.search-field {
        float: none;
        padding: 15px 35px 15px 15px;
        font-size: 1em;
      }
      button.search-submit {
        background: none;
        border: none;
        position: absolute;
        right: 10%;
        top: 50%;

        height: 100%;
        transform: translate(0, -50%);
        svg.search-icon {
          width: 18px;
          height: 18px;
        }
      }
    }
    &:hover {
      form.search-form input.search-field {
        opacity: 1;
        transition: opacity 300ms ease-out 0s;
      }
    }
  }
  .cat {
    width: 100%;
  }

  .in-down {
    animation-name: fadeInDown;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
}

@media (max-width: 767px) {
  header#header {
    margin-bottom: 1em;
    display: block;
  }

  /* Animate menu icon (lines). */
  .svg-menu-toggle {
    .line {
      opacity: 1;
      transform: rotate(0) translateY(0) translateX(0);
      transform-origin: 1em 1em;
      transition: transform 200ms ease-in-out, opacity 150ms ease-in-out;
    }
    .line-1 {
      transform-origin: 25px;
    }
    .line-3 {
      transform-origin: 25px;
    }
  }

  .menu-home a {
    transform: scaleX(0);
    transform-origin: left;
    animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s
      forwards;
  }

  .menu-home .mobile-btn {
    opacity: 0;
    transform-origin: left;
    animation: fade-in-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 0.2s;
  }

  .menu-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5em;
    &.open {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200;
      width: calc(100% - 3em);
    }
    a {
      z-index: 100;
    }
    .mobile-btn {
      width: 20px;
      display: block;
      z-index: 100;
      &.active {
        .svg-menu-toggle {
          .line-1 {
            // transform: rotate(45deg) translateY(0) translateX(0);
            transform: rotate(45deg) translate3d(5px, 5px, 0);
          }
          .line-2 {
            opacity: 0;
          }
          .line-3 {
            // transform: rotate(-45deg) translateY(0em) translateX(0em);
            transform: rotate(-45deg) translate3d(5px, -5px, 0);
          }
        }
      }
    }
    &.active {
      position: fixed;
      z-index: 100;
      top: 0;
      width: 95%;
    }
  }

  .categories {
    opacity: 0;
    // background-image: linear-gradient(-40deg, #fad0c4 0%, #ffd1ff 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity ease 300ms;
    .menu {
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 60%;
      margin-top: 1em;
      li {
        font-size: 5vw;
        order: 1;
        &.current-menu-item {
          order: 0;
          border-bottom: 0.6vw solid $font-colour;
        }
        a {
          text-transform: lowercase;
        }
      }
    }
    &.open {
      opacity: 1;
      z-index: 10;
      .menu {
        opacity: 1;
      }
    }

    .mobile-search {
      flex: auto 0 0;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      transition: all ease 300ms;
      input.search-field {
        font-size: 0.8em;
        background-color: white;
        transition: background-color ease 300ms;
        &:hover,
        &:focus {
          background-color: white;
        }
      }
      form.search-form {
        position: relative;
        width: 100%;
        min-width: 100px;
        .search-form label {
          flex: auto 1 0;
        }
        input.search-field {
          float: none;
          padding: 5% 13% 5% 3%;
          font-size: 1em;
        }
      }
    }
  }
}
