body.search,
body.error404 {
  .title-container {
    opacity: 0.3;
  }
}

form.search-form {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50%;
  min-width: 370px;
  max-width: 500px;
  span.screen-reader-text {
    display: none;
  }
  label {
    flex: auto 1 0;
  }
  input {
    &.search-field {
      font-size: 1rem;
      letter-spacing: 1px;
      border-bottom: 3px solid $font-colour;
      padding: 5% 13% 5% 3%;
      border: none;
      background-color: #fff;
      width: 82%;
      text-transform: lowercase;
      transition: opacity 300ms ease-out 2s;
    }
    &:-webkit-autofill {
      background-color: red !important;
    }
  }
  .search-submit {
    background: none;
    border: none;
    position: absolute;
    right: 10%;
    top: 50%;

    height: 100%;
    transform: translate(0, -50%);
    svg.search-icon {
      width: 18px;
      height: 18px;
    }
  }
  &:hover {
    form.search-form input.search-field {
      opacity: 1;
      transition: opacity 300ms ease-out 0s;
    }
  }
}
input[type="search"] {
  -webkit-appearance: textfield;
}
