body.search,
body.error404 {
  .title-container {
    opacity: 0.3;
  }
}

form.search-form {
  display: block;
  margin: 0 auto;
  width: 50%;
  min-width: 370px;
  max-width: 500px;
  span.screen-reader-text {
    display: none;
  }
  input {
    &.search-field {
      float: left;
      font-size: 1rem;
      letter-spacing: 1px;

      padding: 14px 3%;
      border: none;
      background: #fff;
      width: 82%;
    }
    &.search-submit {
      @extend .button;
      margin: 0;
    }
    &:-webkit-autofill {
      background-color: red !important;
    }
  }
}
