// relative to post
body.single {
  article {
    header {
      position: relative;
      margin: 0 auto;
      max-width: 720px;
    }
  }
  .entry-content {
    max-width: 720px;
    margin: 0 auto;
    h1,
    h2,
    h3 {
      margin: 2em 0 0.5em;
    }
    p {
      max-width: 60em;
      margin: 0 auto 1em;
    }
    //links
    p > a {
      border-bottom: 1.5px solid $font-colour;
      cursor: pointer;
    }
    .contains-image {
      border: none;
    } // lists
    ol,
    ul {
      margin: 2rem auto;
      width: 70%;
      max-width: 600px;
      li {
        margin: 0 auto 0.5em;
        text-align: left;
      }
    }
    ol {
      counter-reset: ol-count;
      li {
        &:before {
          content: counter(ol-count);
          counter-increment: ol-count;
          background: $font-colour;
          color: #fff;
          border-radius: 13px;
          width: 26px;
          height: 26px;
          display: inline-block;
          text-align: center;
          margin-right: 20px;
          line-height: 24px;
        }
      }
    }
    ul {
      list-style: circle;
      li {
        margin-left: 5%;
      }
    } // sharing
    .addtoany_share_save_container {
      margin: 3em 0;
    }
    .column {
      margin-bottom: 70px;
      height: 100%;
      display: inline-block;
    }

    // img-caption
    .wp-caption {
      border: none;
      text-align: center;
      background: lighten($background-colour, 1);
      padding: 10px 10px 10px 10px;
      margin: 0 0 30px 0;
      border-radius: 4px;
      -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
      max-width: 90vw;
      margin: 0 auto 1em;
    }
    p.wp-caption-text {
      margin: -30px 0 10px;
    }
    img {
      max-height: 95vh;
      max-width: 100%;
      height: auto;
      width: auto;
      margin: 0 auto 1rem;
      &.alignleft {
        max-width: 50%;
        margin: 0 2em 0 0;
      }
      &.alignright {
        max-width: 50%;
        margin: 0 0 0 2em;
      }
    }

    // iframes
    .aspect-ratio {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 63%;
      margin: 3rem auto;
    }
    .aspect-ratio iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    //shortcode product
    .product {
      width: 230px;
      max-width: 30%;
      display: inline-flex;
      margin: 0.5em 0 2em;
      padding: 0.75em;
      @extend .transition;
      &:hover {
        background: lighten($background-colour, 5);
      }
      p {
        font-size: 1em;
        display: block;
        margin: 0 auto;
        width: 100%;
        &:nth-of-type(2) {
          font-size: 1.2em;
          line-height: 1em;
          margin: 1em auto 0;
          width: 90%;
        }
      }
      &.oos {
        display: none;
      }

      &.sale {
        span {
          margin: 0 5px;
          color: #ff5f89;
        }
        span:nth-child(1) {
          color: $font-colour;
          text-decoration: line-through;
        }
      }
    }
  }

  footer.footer {
    margin: 0 auto 50px;
    max-width: 960px;
  }
  #related_posts {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: center;
      align-items: space-between;
      flex-wrap: wrap;
      width: 100%;
      li {
        flex: 0 1 200px;
        padding: 10px;
        img {
          width: 100%;
        }
      }
    }
    .relatedcontent {
      .title {
        margin: 1rem;
      }
      button.button {
        margin: 0;
      }
    }
    .relatedthumb img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .relatedthumb {
      position: relative;
      width: 100%;
    }
    .relatedthumb:before {
      content: "";
      padding-top: 100%;
      display: block;
    }
  }
  #comments {
    display: none;
  }
}

.float--left {
  position: fixed;
  left: -20px;
  top: 75%;
  transform: translateY(-50%);
  width: 160px;
  background: rgba(251, 251, 251, 0.8);
  padding: 8px 20px;
  border-radius: 0px 3px 3px 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 650ms ease-in-out;
}

.float--right {
  position: fixed;
  right: -20px;
  top: 75%;
  transform: translateY(-50%);
  width: 160px;
  background: rgba(251, 251, 251, 0.8);
  padding: 8px 25px;
  border-radius: 3px 0px 0px 3px;
  visibility: hidden;
  opacity: 0;
  transition: all 650ms ease-in-out;
}
