body.single {
  footer.footer {
    padding: 50px 0;
  }
}

.totop {
  position: fixed;
  width: 4em;
  height: 4em;
  bottom: 10px;
  right: 1em;
  z-index: 2;

  a {
    display: none;
    background: #fff;
    padding: 15px 11px 8px;
    border-radius: 20px;
    font-weight: 700;
    @extend .box-shadow;
    transition: all 300ms ease;
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background: $font-colour;
      fill: white;
    }
  }
}
#nav-below {
  opacity: 0;
}

.tags {
  max-width: 600px;
  margin: 0 auto;
  ul {
    @extend .flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 2em;
  }

  li {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    @extend .box-shadow;
  }
}

.related_posts ul li {
  @extend .box-shadow;
  border-radius: 5px;
  overflow: hidden;
}

.relatedcontent {
  // min-height: 220px;
  padding: 1em 2em;
  text-align: left;
  display: flex;
  flex-direction: column;

  .relatedthumb {
    position: relative;
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
    &:before {
      content: "";
      padding-top: 100%;
      display: block;
    }
  }
  .title {
    font-size: 1.5em;
    text-align: left;
    margin: 0 0 1em;
  }
  .subtitle {
    font-size: 1em;
    margin: 0 0 1em;
    max-width: 300px;
  }
  button.button {
    margin-top: 1em;
  }
}

@media all and (min-width: 768px) {
  .related_posts {
    ul {
      display: flex;
      justify-content: center;
      align-items: space-between;
      flex-wrap: nowrap;
      width: 100%;
      li {
        flex: 30% 1 0;
        max-width: 250px;
        margin: 0 5px;
        background: white;
        border: 2px solid white;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  ul.horiz-on-mob {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 2em 2em;

    width: auto;
    li {
      max-width: 250px;
      flex: 70vw 1 0;
      margin: 0 2em 0 0;
      background: #fff;

      &:last-of-type {
        padding-right: 2em;
      }
    }
  }
}

.social_icons {
  max-width: 760px;
  margin: 0 auto 2em;

  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    margin: 2em 0 -1.5em 1.5em;
    a {
      padding: 20px 10px;
      width: 100%;
      height: 100%;
    }
    li {
      flex: auto 0 0;

      svg {
        width: 100%;
        max-height: 20px;
        max-width: 20px;
        fill: #323232;
      }
    }
  }
}
@media (min-width: 768px) {
  .social_icons ul {
    justify-content: center;
    margin: 50px 0 0 0;
  }
}
